.calculator {
    display: flex;
    flex-direction: column;
    min-width: 10px;
    max-width: 40rem;
}

.calculator .display {
    height: 0;
    padding-top: 12.5%;
    background-color: #ffffff;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.calculator .display--calculation {
    position: absolute;
    top: 0px;
    right: 0px;
}

.calculator .display--value {
    margin: 0;
    font-weight: bold;
}

.calculator .buttons {
    border-spacing: 0.2rem;
    border-collapse: separate;
    flex: 1 1 auto;
}

.calculator .buttons .button {
    text-align: center;
    line-height: 3.5rem;
    font-weight: bold;
    color: black;
    border: 1px solid black;
}

.calculator .buttons .button:hover {
    cursor: default;
}

.calculator .buttons .button--control {
    background-color: #666;
}

.calculator .buttons .button--control:hover {
    background-color: #333;
}

.calculator .buttons .button--operator {
    background-color: darkgrey;
}

.calculator .buttons .button--operator:hover {
    background-color: #888;
    color: white;
}

.calculator .buttons .button--number {
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.5rem;
}

.calculator .buttons .button--number:hover {
    background-color: #AAA;
}

.calculator .buttons .button--control-equals {
    background-color: darkorange;
}

.calculator .buttons .button--control-equals:hover {
    background-color: orange;
}